@import '../../../../styles/variables';

.section {
    position: relative;
    padding-bottom: $padding-base;
    background: var(--dark);
}

.title {
    font-weight: $font-weight-light;
}

.versions {
    margin-top: $margin-large;

    .title {
        margin-bottom: $margin-middle;
    }

    &-list {
        width: 100%;
        text-align: right;

        hr {
            width: 100%;
            margin: $margin-small 0;
            margin-left: auto;
            border-color: rgba($color-gray-dark, 0.7);
        }
    }

    &-item {
        text-transform: uppercase;
        cursor: pointer;

        margin: 0;
        opacity: 0.2;

        transition: opacity 0.3s ease;

        &.active,
        &:hover {
            opacity: 1;
        }
    }
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile-img {
        flex: 1 1 100%;
        margin: 0 $margin-large;
    }
}

.stats-container {
    flex: 1 1 80%;
    padding: $padding-large $padding-base;
    background: rgba($color-gray-darker, 0.75);

    .title {
        margin-bottom: $margin-small;
    }

    .stats-list {
        max-height: 350px;
        overflow-y: scroll;
        @include customScroll();
    }

    .stats-item:nth-child(2n - 1) {
        background: rgba(#fff, 0.1);
    }

    .stats-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: $padding-tiny $padding-wee;

        p {
            width: 50%;
            color: $color-gray-dark;
            margin: 0;
        }

        span {
            color: $color-primary-light;
        }
    }
}

.tag-container {
    // max-width: 100%;
    padding: 1rem 0;
    overflow-x: scroll;

    @include customScroll();

    .tag-row {
        display: flex;
        flex-direction: row;
    }

    .tag-row:nth-child(1) {
        margin-bottom: $margin-wee;
    }

    .tag-item {
        cursor: pointer;

        display: inline;
        flex: 0 0 auto;
        text-align: center;
        margin-right: $margin-tiny;

        padding: 2px $padding-wee;
        background-color: $color-primary-base;
        border-radius: 9.5px;

        transition: background-color $time-duration ease;

        small {
            font-weight: $font-weight-normal;
        }

        &:hover {
            background: $color-primary-dark;
        }
    }
}