@import '../../../styles/variables';

.navbar {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    text-transform: uppercase;
    
    .navbar-container {
        :global(.navbar-nav) {
            :global(.nav-link) {
                color: #FEFEFE;
                margin: 0 $margin-wee;
                font-weight: 600;
                
                &:hover, &:focus {
                    color: #FEFEFE;
                }
            }
        }
    }

    .dropdown-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 7px;
        }
    }

    :global(.dropdown-toggle) {
        &::after {
            display: none;
        }
    }

}