@import '../../../styles/variables';

.navbar {
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    .navbar-container {
        :global(.navbar-nav) {
            :global(.nav-link) {
                color: #FEFEFE;
                margin: 0 $margin-wee;
                font-weight: 600;
                text-transform: uppercase;
                
                &:hover, &:focus {
                    color: #FEFEFE;
                }
            }
        }
    }

    .dropdown-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            max-width: 7px;
        }
    }

    .nav-dropdown {
        :global(.dropdown-menu) {
            box-shadow: 0px 1px 24px rgba(#000000, 0.75);
            padding: 0;
            margin-top: $margin-small !important;
        }

        :global(.dropdown-item) {
            text-transform: uppercase;
            padding: half($padding-small) $padding-base;
        }

        &:focus {
            color: inherit;
        }
    }

    .model-dropdown {
        @extend .nav-dropdown;
        
        :global(.dropdown-menu) {
            height: 270px;
            padding: half($padding-middle) 0;
        }
        
        &-scroll {
            margin: 0 $margin-small;
            overflow-y: scroll;
            max-height: 100%;
            @include customScroll(#373435, rgba(#373435, 0.1));
        }

        :global(.dropdown-item) {

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: half($padding-base) $padding-base;
            
            p {
                margin: 0;
                margin-right: $margin-small;
            
                font-size: $font-size-small;
                font-weight: $font-weight-bold;
                color: $color-gray-darker;
            }
        }
    }

    :global(.dropdown-toggle) {
        &::after {
            display: none;
        }
    }

}