@import '../../../../styles/variables';

.carousel {
    padding: 0 4rem;
    margin-bottom: $margin-small;   // Compensates for carousel-indicators offset

    &-wrapper {}

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 0 $padding-small;

        transform: scale(1);
        transition: transform $time-duration ease;

        h5 {
            height: 2.5 * $font-size-h5;
        }

        &:hover {
            text-decoration: none;
            transform: scale(1.15);
        }
    }

    :global(.carousel-control-next),
    :global(.carousel-control-prev) {
        $arrow-size: 30px;
        width: $arrow-size;
        height: $arrow-size;
        top: $arrow-size;
        
        background: rgba(#000, 0.35);
        color: white;
    }

    :global(.carousel-indicators) {
        margin: 0;
        bottom: -$margin-small;

        li {
            width: 10px;
            height: 10px;
            border: none;

            background: var(--gray);
            border-radius: 100%;

            &:global(.active) {
                background: var(--primary);
            }
        }
    }
}