@import '../../../styles/variables';

.section {
    padding: $padding-middle * 2 0;

    .header {
        text-align: center;
        padding-bottom: $padding-small;
        margin-bottom: $margin-big;

        background-image: linear-gradient(to right, rgba(#373435, 0.3), rgba(#373435, 0.3));
        background-size: 100px 1px;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }

    .header, a {
        color: $color-gray-darker;
    }
}