@import 'variables';

$primary: $color-primary-base;
$secondary:#B71D3E; //$color-secondary-base;

$dark: $color-primary-dark;
$light: $color-white;

$gray-600: $color-gray;

$white: $color-white;
$black: $color-black;

$success: $color-success;
$info: $color-info;
$warning: $color-warning;
$danger: $color-danger;

// Import Bootstrap and its default variables
@import 'bootstrap/scss/bootstrap.scss';