@import '../../../../styles/variables';

.item {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 300px;
    padding: $padding-small $padding-base;
    color: #323534;
    font-weight: $font-weight-bold;

    p {
        margin: 0;
    }

    &.active {
        .dropdown-menu {
            box-shadow: 0px 1px 24px rgba(#000, 0.75);
        }
    }


    &-dropdown {
        box-shadow: 0px 1px 24px rgba(#000, 0.75);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);

        background-color: var(--primary);
        
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;

            margin: $margin-small $margin-base;

            &:hover {
                color: #fff;
            }
        }

        p {
            margin: 0;
        }
        
        &.active {
            max-height: 700px;
            transition: max-height 1s ease-in-out;
        }
    }
}


.dropdown {
    &-toggler {
        text-transform: uppercase;
        width: 100%;
        max-width: 160px;
    }

    .dropdown-toggler::after {
        display: none;
    }
}

.dropdown .dropdown-menu {
    margin-top: $margin-small !important;
    min-width: 300px;
}