@import "../../../styles/variables";


.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: $margin-tiny;

    width: 35px;
    height: 35px;

    color: var(--dark);
    background-color: rgba($color-gray-light, 0.25) !important;

    svg {
        pointer-events: none;
        font-size: 1.2rem;
        font-weight: bold;
    }
}