@import "../../../styles/variables";

.footer {
    font-family: var(--font-family-secondary);
    background: var(--dark);

    padding-top: 3rem;
}

.copyright-section {

    a {
        transition: color 0.3s ease;
        padding: 0 $padding-tiny;
        &:hover {
            color: white;
        }
    }

    p, a {
        color: $color-gray-dark;
    }
}