@import "../../../styles/variables";

.footer {
    background: var($color-footer-base);

    padding-top: 3rem;
}

.copyright-section {

    a {
        text-decoration: underline;
        transition: color 0.3s ease;
        padding: 0 $padding-tiny;
        
        &:hover {
            color: white;
        }
    }

    p, a {
        color: $color-gray-dark;
    }
}