@import '../../styles/variables';

.form-container {
    color: white;
    background: rgba(#181717, 0.6);
    padding: $padding-middle $padding-small;

    hr {
        background: rgba($color-gray-dark, 0.5);
        margin: 0;
    }
}

.form-header {
    padding: 0;
    margin-bottom: $margin-small;

    h4 {
        text-transform: uppercase;
    }
}

.form {
    select {
        font-weight: bold;
    }

    button {
        text-transform: uppercase;
    }

    label {
        font-size: $font-size-small;
        font-weight: 600;
    }

    :global(.form-group) {
        margin: $margin-small 0;
    }

    :global(.form-row) {
        margin: 0;
    }

    :global(.form-control) {
        height: 30px;

        background: transparent;
        border: 1px solid var(--gray);
        border-radius: 3px;

        color: $color-gray-light;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: #9F9F9F;
        }
    }

    :global(.form-label) {
        font-weight: bold;
    }

    :global(.form-check) {
        $radio-size: 14px;
        display: flex;
        align-items: center;

        @mixin customCheck {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
    
            margin: auto 0;

            width: $radio-size;
            height: $radio-size;
            opacity: 0;

            ~ label {
                cursor: pointer;
                user-select: none;

                margin-right: $margin-large;
                
                /* Makes the space between label and input clickable */
                padding-left: 1rem;
                margin-left: -0.5rem;
            }

            ~ label::before {
                content: "";
                cursor: pointer;
                width: $radio-size;
                height: $radio-size;
        
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
        
                margin: auto 0;
        
                border: 2px solid white;
                background: transparent;
            }
        }

        input[type*=radio] {
            @include customCheck;

            ~ label::before {
                border-radius: 100%;
            }

            
            &:checked ~ label::before {
                background-image: radial-gradient(#fff 50%, transparent, transparent);  
                background-size: 8px 8px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        input[type*=checkbox] {
            @include customCheck;

            ~ label::before {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:checked ~ label::before {
                background-image: linear-gradient(to top, #fff, #fff);
                background-size: 6px 6px;
                background-position: center;
                background-repeat: no-repeat;
            }

        }

    }

    button[type=submit] {
        box-shadow: 0px 4px 6px #AB2E43;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0px 0px 0px #AB2E43;
        }
    }
}

.privacy-link {
    color: white;
    text-decoration: underline;
    
    &:hover {
        color: white;
    }
}